{% extends "base.html" %}

{% block title %}
Log
{% endblock %}


{% block content %}
	<hr>


		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table table-striped table-hover ">
					<thead>
						<td>Date</td>
						<td>Message</td>
					</thead>
				{% for message in logs %}
				<tr class=" {{message.type}} ">
					<td>{{ message.datetime }}</td>
					<td>{{ message.message }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>
			<div class="col-md-2"></div>
		</div><!-- /.row -->


{% endblock %}

